{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'portfolio/section.css' %}">

<section>
    <h2>Contact Me</h2>
    {% if success %}
    <p>Thank you for your message!</p>
    <strong>{{ success }}</strong>
    
    {% else %}

    <form action="" method="post">
        {% csrf_token %}
      
        <div class="form-group">
            {{form.as_p}}
        </div>

        <button class="btn btn-primary " type="submit">Send Message</button>
    </form>
    <!-- {% endif %} -->
</section>
{% endblock %}